.box-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    justify-content: space-between;
    align-items: start;
    padding-left: 3rem;
    padding-right: 3rem;
}

.box-container::-webkit-scrollbar {
    display: none;
}

/* Each fieldset (box) */
.box {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.box.is-active {
    display: block;
    transform: translateX(0);
}

.fa-spinner.loading {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
